.wrapper{
	margin: 100px auto;
	position: relative;
	background: url(images/main_bg.png);
	width: 890px;
	height: 536px;
	padding-left: 70px;
}
.wrapper::after{
	content: "";
	clear: both;
}
.wrapper  div[data-el-order]{
	float: left;
	width: 235px;
	height: 100%;
	background: url(images/line_bg0.png);
	margin-right: 5px;
}
.wrapper div[data-el-order]:nth-child(2){
	background-image: url(images/line_bg1.png);
}
.wrapper  div[data-el-order]:nth-child(3){
	background-image: url(images/line_bg2.png);
}
.wrapper .go{
	width: 98px;
	height: 98px;
	background: url(images/spin_btn.png);
	position: absolute;
	right: 38px;
	top: 220px;
	border: none;
}
.wrapper .go:active,
.wrapper .go:focus{
	outline:none;
	border:none;
}
.wrapper .go.pressed{
	background-position: right top;
}
.wrapper .bet-lines{
	width: 770px;
	height: 554px;
	position: absolute;
	left: 40px;
	top: -5px;
}
.wrapper .bet-lines div{
	background: url(images/bet_lines.png) 0 -190px no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.wrapper .bet-lines div:nth-child(2){
	background-position: 0 -25px;
}
.wrapper .bet-lines div:nth-child(3){
	background-position: 0 140px;
}
.wrapper .bet-lines div:nth-child(4){
	background-position: -870px 0;
}
.wrapper .bet-lines div:nth-child(5){
	background-position: -1690px 0;
}
.wrapper .bet-lines.nth-0 div:nth-child(1),
.wrapper .bet-lines.nth-1 div:nth-child(2),
.wrapper .bet-lines.nth-2 div:nth-child(3),
.wrapper .bet-lines.nth-3 div:nth-child(4),
.wrapper .bet-lines.nth-4 div:nth-child(5){
	opacity: 1;
}
.wrapper .loot{
	position: absolute;
	left: 10px;
	bottom: -50px;
	color: #00baff;
}
.wrapper .loot output{
	display: inline;
}
.wrapper .broke-alert{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
	padding-top: 230px;
	font-size: 60px;
	color: #00baff;
	display: none;
}
.wrapper .broke-alert.shown{
	display: block;
}